doctype html
html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='msapplication-tap-highlight', content='no')

		title= title
		meta(name='description', content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ")
		meta(name='keywords', content='materialize, admin template, dashboard template, flat admin template, responsive admin template,')
		link(href='css/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
		link(href='css/style.css', type='text/css', rel='stylesheet', media='screen,projection')
		
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/play_style.css')
		script(src='https://cdn.socket.io/socket.io-1.2.0.js')

	body
		block content
