extends _customlayout

block content
	// START HEADER
	header#header.page-topbar
		// start header nav
		.navbar-fixed
			nav.navbar-color
				.nav-wrapper
					ul.left
						li
							h1.logo-wrapper
								a.brand-logo.darken-1(href='index.html')
									img(src='images/materialize-logo.png', alt='materialize logo')
								span.logo-text Materialize
					//-
						ul.right.hide-on-med-and-down
							li
								a.waves-effect.waves-block.waves-light.toggle-fullscreen(href='javascript:void(0);')
									i.mdi-action-settings-overscan
							li
								a.waves-effect.waves-block.waves-light.notification-button(href='javascript:void(0);', data-activates='notifications-dropdown')
									i.mdi-social-notifications
										small.notification-badge 5
							li
								a.waves-effect.waves-block.waves-light.chat-collapse(href='#', data-activates='chat-out')
									i.mdi-communication-chat

	// START MAIN
	#main
		// START WRAPPER
		.wrapper
			// START CONTENT
			section#content
				// start container
				.container
					.section
						.row.hexed-outer-container.dragscroll(style='overflow:hidden; cursor: grab; cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;')
							#hexedinnercontainer.hex-grid-container
								#hexedgridtop
								#hexedgrid
									//-
										.hex-row
											.hex
											.hex
											.hex
								#hexedgridbottom
					#startup-modal.modal.modal-fixed-footer.green.white-text
						.modal-content
							h4
								| Title??!
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
								| aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
								| aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
						.modal-footer.green.lighten-4
							a#start-button.waves-effect.waves-green.btn-flat.modal-action.modal-close
								| Play!

				.fixed-action-btn.horizontal(style="bottom: 45px; right: 24px;")
					a.btn-floating.btn-large.red
						i.fa.fa-pencil
					ul
						li
							a.btn-floating.red
								i.fa.fa-line-chart.fa-1x
						li
							a.btn-floating.yellow.darken-1
								i.fa.fa-quote-right.fa-1x
						li
							a.btn-floating.green
								i.fa.fa-share.fa-1x
						li
							a.btn-floating.blue
								i.fa.fa-paperclip.fa-1x
				.row
					.chip.z-depth-1(style="position:fixed; bottom: 120px; right: 24px;")
						img.responsive-img(src= "/hexed_images/metal-bar.svg")
						span#stats_iron 0
					.chip.z-depth-1(style="position:fixed; bottom: 160px; right: 24px;")
						img.responsive-img(src= "/hexed_images/stone-block.svg")
						span#stats_stone 0
					.chip.z-depth-1(style="position:fixed; bottom: 200px; right: 24px;")
						img.responsive-img(src= "/hexed_images/log.svg")
						span#stats_wood 0
					.chip.z-depth-1(style="position:fixed; bottom: 240px; right: 24px;")
						img.responsive-img(src= "/hexed_images/shiny-apple.svg")
						span#stats_food 0
					.chip.z-depth-1(style="position:fixed; bottom: 280px; right: 24px;")
						img.responsive-img(src= "/hexed_images/knife-fork.svg")
						span#stats_food_consumption 0
					.chip.z-depth-1(style="position:fixed; bottom: 320px; right: 24px;")
						img.responsive-img(src= "/hexed_images/guards.svg")
						span#stats_units 10    
					.chip.z-depth-1(style="position:fixed; bottom: 360px; right: 24px;")
						i.fa.fa-clock-o.fa-1x
						span#stats_days 0
									

	// jQuery Library
	script(type='text/javascript', src='js/plugins/jquery-1.11.2.min.js')
	// materialize js
	script(type='text/javascript', src='js/materialize.js')

	script(type='text/javascript', src='https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js')
	script(src='javascripts/hexed.js')