doctype html
html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='msapplication-tap-highlight', content='no')
		meta(name='description', content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ")
		meta(name='keywords', content='materialize, admin template, dashboard template, flat admin template, responsive admin template,')
		// Favicons
		link(rel='icon', href='images/favicon/favicon-32x32.png', sizes='32x32')
		// Favicons
		link(rel='apple-touch-icon-precomposed', href='images/favicon/apple-touch-icon-152x152.png')
		// For iPhone
		meta(name='msapplication-TileColor', content='#00bcd4')
		meta(name='msapplication-TileImage', content='images/favicon/mstile-144x144.png')
		// For Windows Phone
		// CORE CSS
		link(href='css/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
		link(href='css/style.css', type='text/css', rel='stylesheet', media='screen,projection')
		// Custome CSS
		link(href='css/custom/custom.css', type='text/css', rel='stylesheet', media='screen,projection')
		// INCLUDED PLUGIN CSS ON THIS PAGE
		link(href='js/plugins/prism/prism.css', type='text/css', rel='stylesheet', media='screen,projection')
		link(href='js/plugins/perfect-scrollbar/perfect-scrollbar.css', type='text/css', rel='stylesheet', media='screen,projection')
		link(href='js/plugins/chartist-js/chartist.min.css', type='text/css', rel='stylesheet', media='screen,projection')

		title= title
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/play_style.css')
		script(src='https://cdn.socket.io/socket.io-1.2.0.js')
	body
		block content
