extends customlayout

block content
	// START HEADER
	header#header.page-topbar
		// start header nav
		.navbar-fixed
			nav.navbar-color
				.nav-wrapper
					ul.left
						li
							h1.logo-wrapper
								a.brand-logo.darken-1(href='index.html')
									img(src='images/materialize-logo.png', alt='materialize logo')
								span.logo-text Materialize
					ul.right.hide-on-med-and-down
						li
							a.waves-effect.waves-block.waves-light.toggle-fullscreen(href='javascript:void(0);')
								i.mdi-action-settings-overscan
						li
							a.waves-effect.waves-block.waves-light.notification-button(href='javascript:void(0);', data-activates='notifications-dropdown')
								i.mdi-social-notifications
									small.notification-badge 5
						li
							a.waves-effect.waves-block.waves-light.chat-collapse(href='#', data-activates='chat-out')
								i.mdi-communication-chat

	// START MAIN
	#main
		// START WRAPPER
		.wrapper
			// START LEFT SIDEBAR NAV
			aside#left-sidebar-nav
				ul#slide-out.side-nav.fixed.leftside-navigation
					li.user-details.cyan.darken-2
						.row
							.col.s12.m12.l12
								img.responsive-img.valign.profile-image(src='images/avatar.jpg', alt='')
					.li
						h3.stats-text
							| Debug stuff:
						.debug-wrapper
							button#player0.change_player player0
							button#player1.change_player player1
							button#player2.change_player player2
						.debug-wrapper
							p.debug-text
								| Player: 
								span#debug_player playerid
								| .
							p.debug-text
								| Turns: 
								span#debug_turns 0/0
								| .
						.debug-wrapper
							button#getHexGrid.change_player Get server hexgrid
							button#getTimeline.change_player Get server timeline
							button#getSnapshot.change_player Get snapshot of hexgrid
				a.sidebar-collapse.btn-floating.btn-medium.waves-effect.waves-light.hide-on-large-only.cyan(href='#', data-activates='slide-out')
					i.mdi-navigation-menu
			// END LEFT SIDEBAR NAV

			// START CONTENT
			section#content
				// start container
				.container
					.section
						.row
							.col.s12.m9.l9
								.card-panel
									.video-container
										iframe#live_stream_embed(src='http://www.twitch.tv/gamerhuset/embed', height='360', width='640', frameborder='0', scrolling='no', autoplay='true', muted='false', allowfullscreen='')
							.col.s12.m3.l3
								.card-panel
									ul.collection.with-header
										li.collection-header
											h1 Your stats:
										li.collection-item 
											h5
												i.fa.fa-apple.fa-1x
												|  
												span#stats_food 0
										li.collection-item 
											h5
												i.fa.fa-cutlery.fa-1x
												|  
												span#stats_food_consumption 0
										li.collection-item 
											h5
												i.fa.fa-users.fa-1x
												|  
												span#stats_units 10    
										li.collection-item 
											h5
												| Days: 
												span#stats_days 0
						.row.dragscroll(style='overflow:hidden; cursor: grab; cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;height:530px;')
							.hex-grid-container(style='width:1200px;')
								#hexedgridtop
									//-
										.hex-row
											.hex
											.hex
											.hex
										.hex-row
											.hex
											.hex
											.hex
								#hexedgrid
									//-
										.hex-row
											.hex
											.hex
											.hex
										.hex-row
											.hex
											.hex
											.hex
										.hex-row
											.hex
											.hex
											.hex
										.hex-row
											.hex
											.hex
											.hex
										.hex-row
											.hex
											.hex
											.hex
										.hex-row
											.hex
											.hex
											.hex
										.hex-row
											.hex
											.hex
											.hex
								#hexedgridbottom
									//-
										.hex-row
											.hex
											.hex
											.hex
										.hex-row
											.hex
											.hex
											.hex
										
	aside#right-sidebar-nav
		ul#chat-out.side-nav.rightside-navigation
			li.li-hover
				#right-search.row
					.video-container(style='height:500px;')
						iframe#chat_embed(frameborder='0', scrolling='no', src='http://www.twitch.tv/gamerhuset/chat', height='640', width='480')
	
	// jQuery Library
	script(type='text/javascript', src='js/plugins/jquery-1.11.2.min.js')
	// materialize js
	script(type='text/javascript', src='js/materialize.js')
	// prism
	script(type='text/javascript', src='js/plugins/prism/prism.js')
	// scrollbar
	script(type='text/javascript', src='js/plugins/perfect-scrollbar/perfect-scrollbar.min.js')
	// chartist
	script(type='text/javascript', src='js/plugins/chartist-js/chartist.min.js')
	// plugins.js - Some Specific JS codes for Plugin Settings
	script(type='text/javascript', src='js/plugins.js')
	// custom-script.js - Add your own theme custom JS
	script(type='text/javascript', src='js/custom-script.js')

	script(type='text/javascript', src='https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js')
	script(src='javascripts/hexed.js')
