/***************************
This is a Cascading Style Sheet (CSS), which describes rules for styling HTML markup (and this is a comment, which you can delete).

To use this file, link it to your markup by placing a <link> in the <head> of your HTML file:

<head>
<link rel="stylesheet" href="style.css">

replacing "style.css" with the name of this CSS file.

Learn more about CSS at

https://developer.mozilla.org/en-US/docs/Web/Guide/CSS
***************************/

/***************************
Stylesheetet fra hex1 filerne.

Original source:
https://github.com/pwdonald/hexagon-menu
***************************/

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: skyblue;
}
span {
  font-style: italic;
}
/*
The left sided triangle making up the hex
*/
.hex:before {
  content: " ";
  width: 0;
  height: 0;
  border-right: 30px solid;
  border-right-color: inherit;
  border-bottom: 52px solid transparent;
  border-top: 52px solid transparent;
  position: absolute;
  left: -30px;
}
.hex {
  cursor: pointer;
  left: 30px;
  margin-bottom: -55px;
  margin-right: 124px;
  width: 60px;
  height: 104px;
  background-color: rgba(242, 104, 24, 1);
  border-color: rgba(242, 104, 24, 1);
  position: relative;
  display: inline-block;
}
.hex:last-child {
  margin-right: 0px;
}
.hex-hovered {
  background-color: rgba(0, 200, 0, 1);
  border-color: rgba(0, 200, 0, 1);
}
.hex-red {
  background-color: rgba(183, 18, 40, 1);
  border-color: rgba(183, 18, 40, 1);
}
.hex-pink {
  background-color: rgba(216, 99, 111, 1);
  border-color: rgba(216, 99, 111, 1);
}
.hex-turq {
  background-color: rgba(66, 244, 200, 1);
  border-color: rgba(66, 244, 200, 1);
}
.hex-disabled {
  cursor: pointer;
  background-color: rgba(147, 147, 147, 1) !important;
  border-color: rgba(147, 147, 147, 1) !important;
}
.hex-green {
  background-color: rgba(164, 244, 66, 1) !important;
  border-color: rgba(164, 244, 66, 1) !important;
}
.hex-blue {
  background-color: rgba(0, 0, 200, 1) !important;
  border-color: rgba(0, 0, 200, 1) !important;
}
.hex-spin {
  -webkit-animation: spin-half 300ms linear normal;
  -moz-animation: spin 300ms linear normal;
  animation: spin-half 300ms linear normal;
}
.hex:after {
  content: "";
  width: 0;
  position: absolute;
  right: -30px;
  border-left: 30px solid rgba(0, 0, 0, 1);
  border-left-color: inherit;
  border-bottom: 52px solid transparent;
  border-top: 52px solid transparent;
}
.hex-row {
  clear: both;
  margin-bottom: 1px;
}
.hex-row:nth-child(even) {
  margin-left: 92px;
}
/*.hex-row:nth-child(odd) {
  margin-right: 2px;
}*/

.hex-row-expanded {
  margin-top: 40px;
  margin-bottom: 40px;
}
.hex-foreign-selected-color:before {
  border-right-color: rgba(0, 0, 200, 1);
}
.hex-foreign-selected {
  /* 280, 140 */

  display: inline-block;
  width: 245px;
}
.hex-foreign-selected-color {
  background-color: rgba(0, 0, 200, 1);
  border-color: rgba(0, 0, 0, 200, 1);
}
.hex-foreign-selected-color:after {
  border-left-color: rgba(0, 0, 200, 1);
}
.hex-hidden {
  display: none;
}

@-moz-keyframes spin-half {
  25% {
    -moz-transform: rotateY(15deg);
  }
  50% {
    -moz-transform: rotateY(50deg);
  }
  100% {
    -moz-transform: rotateY(180deg);
  }
}
@-webkit-keyframes spin-half {
  25% {
    -webkit-transform: rotateY(15deg);
  }
  50% {
    -webkit-transform: rotateY(50deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
  }
}
@keyframes spin-half {
  25% {
    transform: rotateY(15deg);
  }
  50% {
    transform: rotateY(50deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
/*# sourceMappingURL=menu.css.map */





/***************************

Experimental styles.. ?

***************************/

.hex-border {
  left: 30px;
  margin-bottom: -55px;
  margin-right: 124px;
  width: 60px;
  height: 104px;
  background-color: rgba(226, 226, 226, 1);
  border-color: rgba(226, 226, 226, 1);
  position: relative;
  display: inline-block;
}
.hex-border:last-child {
  margin-right: 0px;
}

.hex-border:before {
  content: " ";
  width: 0;
  height: 0;
  border-right: 30px solid;
  border-right-color: inherit;
  border-bottom: 52px solid transparent;
  border-top: 52px solid transparent;
  position: absolute;
  left: -30px;
}
.hex-border:after {
  content: "";
  width: 0;
  position: absolute;
  right: -30px;
  border-left: 30px solid rgba(0, 0, 0, 1);
  border-left-color: inherit;
  border-bottom: 52px solid transparent;
  border-top: 52px solid transparent;
}

.hex-border-disabled {
  cursor: pointer;
  background-color: rgba(201, 201, 201, 1);
  border-color: rgba(201, 201, 201, 1);
}
.hex-border-hover {
  background-color: rgba(0, 200, 0, 1);
  border-color: rgba(0, 200, 0, 1);
}

.hex-row-border-bottom {
  clear: both;
}
.hex-row-border-bottom:nth-child(odd) {
  margin-left: 92px;
}

.hex-menu-item-container{
  position:absolute; 
  top:50%;
  right: 50%;
  -ms-transform: translate(50%, -50%); /* IE 9 */
  -webkit-transform: translate(50%, -50%); /* Safari */
  transform: translate(50%, -50%);
}
.hex-menu-icon-small{
  width: 20px;
  height: 20px;
}
.hex-menu-item-container-full{
  position:absolute; 
  top:50%;
  right: 50%;
  -ms-transform: translate(50%, -50%); /* IE 9 */
  -webkit-transform: translate(50%, -50%); /* Safari */
  transform: translate(50%, -50%);
  width: 50px;
  height: 50px;
}
.hex-spin > div {
  display:none;
}

.hex-menu-item-paragraph {
  margin: 0;
  line-height: 1.5;
  width: 50px;
}
.hex-menu-item-text {
  margin-left: 2px;
}

.stats-div{
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
}
.stats-wrapper{
  display: inline-block;
}
.stats-text{
  display: inline-block;
  margin-left: 20px;
}
.stats-text:nth-child(1) {
  margin-left: 0px;
}


.debug-div{
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}
.debug-wrapper{
  display: inline-block;
}
.change_player{
  width: auto;
  height: 30px;
  margin-left: 5px;
  font-size: 15px;
}
.debug-text{
  display: inline-block;
  margin-left: 20px;
}

.hex-grid-container {
  line-height: normal;
}

.hexed-outer-container {
  position: absolute;
  left: 6px;
  right: 18px;
  top: 6px;
  bottom: 6px;
  padding-top: 56px;
}
.hex-menu-swal {
  background-color: #86AD92;
}

.dragscroll {
  cursor: grab;
}

@media only screen and (min-width: 601px) {
  .hexed-outer-container {
    padding-top: 64px;
    left: 18px;
  }
}
